table {
    width: 100%;
  }
  th.mat-sort-header-sorted {
    color: black;
  }
  .row{
    margin-top: 38px;
    margin-left: 44px;
  }
  #filter{
    margin-left: 36px;
       margin-top: -9px;
  }