<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <h2 class="navbar-brand" href="#">Customer App</h2>
   
    <ul class="nav nav-tabs">
        <li class="nav-item"><a routerLinkActive="active" routerLink="customer" [routerLinkActiveOptions]="{exact:true}"
            class="nav-link">Customer</a></li>
        <li class="nav-item"><a routerLinkActive="active" routerLink="customerList" class="nav-link">Customer List</a></li>
        <li class="nav-item"><a routerLinkActive="active" routerLink="leads" class="nav-link">Leads</a></li>
   </ul>
</nav>
<router-outlet></router-outlet>